<template>
  <div>
    <p class="title">Male</p>
    <div v-for="maleOwnerCat in maleOwnerCats">
      <p class="content">{{ maleOwnerCat }}</p>
    </div>
    <p class="title">Female</p>
    <div v-for="femaleOwnerCat in femaleOwnerCats">
      <p class="content">{{ femaleOwnerCat }}</p>
    </div>


    <!--    Without cats name alphabetical order-->
    <!--    <p class="title">Male</p>-->
    <!--    <div-->
    <!--      v-for="owner in owners"-->
    <!--      :key="owner.name">-->
    <!--      <div-->
    <!--        v-for="pet in owner.pets"-->
    <!--        :key="pet.name">-->
    <!--        <div-->
    <!--          v-if="pet.type === 'Cat' && owner.gender === 'Male'">-->
    <!--          <p class="content">{{ pet.name }}</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <p class="title">Female</p>-->
    <!--    <div-->
    <!--      v-for="owner in owners"-->
    <!--      :key="owner.name">-->
    <!--      <div-->
    <!--        v-for="pet in owner.pets"-->
    <!--        :key="pet.name">-->
    <!--        <div-->
    <!--          v-if="pet.type === 'Cat' && owner.gender === 'Female'">-->
    <!--          <p class="content">{{ pet.name }}</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>

</template>


<script>
    import axios from 'axios';

    export default {
        name: 'Pets',
        data: () => ({
            maleOwnerCats: [],
            femaleOwnerCats: [],
            owners: [],
        }),
        mounted: function () {
            axios.get('http://5c92dbfae7b1a00014078e61.mockapi.io/owners')
                .then(response => {
                    this.owners = response.data;
                    // console.log('this.owners');
                    // console.log(this.owners);
                })
                .then(() => {
                    this.sortArray()
                })
                .catch(error => {
                    console.log(error);
                    alert("Something went wrong!");
                });
        },
        methods: {
            sortArray: function () {
                //for each owner in owners
                for (let owner of this.owners) {
                    //prevent some of the people who do not have pets
                    if (owner.pets !== null) {
                        //for each pet for each owner
                        for (let pet of owner.pets) {
                            //select male owner and cat pets
                            if (owner.gender === 'Male' && pet.type === 'Cat') {
                                this.maleOwnerCats.push(pet.name);
                                // console.log(this.maleOwnerCats);
                            }
                            //select female owner and cat pets
                            else if (owner.gender === 'Female' && pet.type === 'Cat') {
                                this.femaleOwnerCats.push(pet.name);
                                // console.log(this.femaleOwnerCats)
                            }
                        }
                        //sort arrays in alphabetical order
                        this.maleOwnerCats.sort();
                        this.femaleOwnerCats.sort();
                        // console.log(this.maleOwnerCats);
                        // console.log(this.femaleOwnerCats)
                    }
                }
            }
        }
    }
</script>

<style scoped>
  p.title {
    font-size: larger;
    color: #42b983;
  }

  p.content {
    text-indent: 100px;
  }
</style>
